.section-heading {
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
}