ul.pages {
    margin-top: 30px;
    text-align: center;
}

ul.pages li {
    display: inline-block;
    margin: 0px 2px;
}

ul.pages li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    font-size: 15px;
    font-weight: 700;
    color: #121212;
    transition: all .3s;
}

ul.pages li a:hover,
ul.pages li.active a {
    background-color: #f33f3f;
    border-color: #f33f3f;
    color: #fff;
}
.filters ul li.active,
.filters ul li:hover {
    color: #f33f3f;
}