#copyright {
  background-color: rgba(0, 0, 0, 0.05);
}

.form-outline {
  border: 1px solid #ced4da;
}

footer {
  text-align: center;
}

footer .inner-content {
  border-top: 1px solid #eee;
  margin-top: 60px;
  padding: 60px 0px;
}

footer .inner-content p {
  text-transform: uppercase;
}

footer .inner-content p a {
  color: #f33f3f;
  margin-left: 3px;
}